/* Custom Stylesheet */

html, body {
  height: 100%;
  width: 100%;
}
.text-center {
  text-align: center;
}
ul {
  list-style: none;
}

/* btn-primary Override */
.btn-primary {
    color: #fff;
    background-color: #0b5a9e;
    border-color: #f7f7f7;
    border-radius: 0;
    font-size: 18px;
}
/* Hero */

#hero {
  background: url("../img/back-img.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 100%;
  width: 100%;
  position: relative;

}


#hero > #hero-text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

#hero > #hero-text > h1 {
  color: #fff;
  margin-top: -120px;
}
#hero > #hero-text > button > a {
  text-decoration: none;
  color: #fff;
}

/* Icon Row */
#iconRow {
  padding: 60px 0;
}

/* Pics */
#pics > #books, #notes {
  display: inline-block;
  float: left;
  width: 50%;
  color: #fff;
}
#pics > #books {
  background: url("../img/books.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 450px;
}
#pics > #notes {
  background: url("../img/notes.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 450px;
}
#pics .overlay {
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Navigation */
.custom-navigation {
  background: transparent;
  height: 70px;
  width: 100%;
  z-index: 999999999;
}

.custom-navigation #logo {
  color: #fff;
  padding: 20px 0 0 25px;
  font-size: 24px;
}

.custom-navigation #links, #logo {
  display: inline-block;
}

.custom-navigation #links {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 25px 0 0;
}
.custom-navigation #links > li {
  display: inline-block;
  color: #fff;
  padding-right: 20px;
}

/* Footer */
#footer {
  background: black;
  padding: 30px;
  color: #fff;
}

#footer h4 {
  font-size: 16px;
}

/* Media Queries */
@media(max-width: 767px) {
  /* Mobile Navigation */
  }
  #hero > #hero-text > h1 {
    font-size: 24px;
  }

  .sm-dev-padding {
    padding-top: 60px;
  }

  #pics > #books, #notes {
    display: block;
    width: 100%;
  }
}
