/* Custom Stylesheet */
/* Use "#" to select Id */
/* Use "." to select a class */
/* Font imports */
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

html, body {
  height: 100%;
  width: 100%;
}
.text-center {
  text-align: center;
}
ul {
  list-style: none;
}

/* btn-primary Override */
.btn-primary {
    color: #fff;
    background-color: #0b5a9e;
    border-color: #f7f7f7;
    border-radius: 0;
    font-size: 18px;
}
/* Hero */

#hero {
  background: url("../img/back-img.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 100%;
  width: 100%;
  position: relative;

}
#hero > #hero-text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

#hero > #hero-text > h1 {
  color: #fff;
  margin-top: -120px;
  font-family: 'Raleway', sans-serif;
}
#hero > #hero-text > button > a {
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
#links > li > a {
  text-decoration: none;
  color: #fff;
}
#links > li > a:hover {
  color: #0666cb;
}

/* Icon Row */
#iconRow {
  padding: 20px 0;
}
#iconRow h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#iconTitle {
  font-size: 40px;
  color: black;
  font-family: 'Raleway', sans-serif;
}

/* Pics */
#pics > #books, #notes {
  display: inline-block;
  float: left;
  width: 50%;
  color: #fff;
}
#pics > #books {
  background: url("../img/books.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 600px;
}
#pics > #notes {
  background: url("../img/notes.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 600px;
}
#pics .overlay {
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Navigation */
.custom-navigation {
  background: transparent;
  height: 70px;
  width: 100%;
  z-index: 999999999;
}
/* #nav.shrink {
  height: 40px;
  transition: all ease .5s;
  background: black;
}
#nav.shrink #logo {
  padding: 10px;
  transition: all ease .5s;
} */

.custom-navigation #logo {
  color: #fff;
  padding: 20px 0 0 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
}

.custom-navigation #links, #logo {
  display: inline-block;
}

.custom-navigation #links {
  list-style: none;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 25px 0 0;
}
.custom-navigation #links > li {
  display: inline-block;
  color: #fff;
  padding-right: 20px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
  #logo span {
    display: none;
  }

/* Footer */
#footer {
  background: black;
  padding: 30px;
  color: #fff;
}

#footer li {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  list-style: none;
}
#footer a {
  text-decoration: none;
  color: #fff;
}
#footer a:hover {
  color: #0666cb;
}

/* Media Queries */
@media(max-width: 629px) {

  #pics > #books, #notes {
    display: block;
    width: 100%;
  }

  #hero > #hero-text > h1 {
    font-size: 24px;
  }

  .sm-dev-padding {
    padding-top: 60px;
  }


  .custom-navigation #links > li {
    font-size: 15px;
  }


}
@media(min-width: 629px){
  #logo:after {
    content: "Abner Jr";
    /* content: "AJ"; */
    /* text-indent: 100%;
    white-space: nowrap;
    overflow: hidden; */
  }
}
